SIDEBAR_WIDTH = 300px

*
  font-family 'Lato', sans-serif
  box-sizing border-box

html, body
  width 100%
  height 100vh
  padding 0
  margin 0
  // overflow hidden

.select-container
  clear both
  margin 10px 0
  &:first-of-type
    margin-bottom 15px

input, textarea
  -webkit-appearance none
  display inline-block
  font-weight regular
  font-size 1em
  letter-spacing 0.05em
  border none
  outline none
  padding 15px
  color #333
  width 100%
  margin 10px 0
  background-color #eee
  &.half
    width calc(50% - 10px)
    &.first
      margin-right 20px
textarea
  min-height 100px

::-webkit-input-placeholder {
   color: #888;
}

:-moz-placeholder { /* Firefox 18- */
   color: #888;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #333;
}

:-ms-input-placeholder {
   color: #333;
}

h1, h2, h3, h4, h5, h6
  margin 0

.vertical-center
  position absolute
  width 100%
  left 50%
  top 50%
  transform translate(-50%, -50%)

.content-container
  position relative
  height 100%
  height 100vh
  width calc(100% - 300px)
  left 300px
  .main-title
    text-transform uppercase
    letter-spacing 0.2em
    font-size 1.2em
    padding 20px
    width 100%
    background rgb(60, 60, 70)
    color white

.container
  padding 0 20px
  
.btn 
  -webkit-appearance none
  border none 
  outline none
  padding 15px 30px 
  margin 0
  font-weight bold
  text-transform uppercase 
  background rgb(50, 170, 70)
  letter-spacing 0.2em
  color white
  cursor pointer
  transition background 150ms ease-out
  &.half 
    width 50%
  &.grey 
    background #333
    color white
    &:hover 
      background #444
  &.red 
    background rgb(180, 40, 40)
    color white
    &:hover 
      background rgb(200, 50, 50)
  &.save 
    &:hover, &:active
      background rgb(30, 150, 50)
      transition background 150ms ease-out
  &:hover 
    transition background 150ms ease-out
    
@import '*.styl'
@import '*/*.styl'
@import '*/**/*.styl'

  
