.login-container
  width 100%
  height 100vh
  background rgb(30, 30, 40)
  .login-form
    position absolute
    top 50%
    left 50%
    background white
    width 500px
    height auto
    padding 40px
    border-radius 10px
    text-align center
    transform translate(-50%, -50%)
    h1
      text-transform uppercase
      letter-spacing 0.2em
      font-size 1.2em
      font-weight 500
    input
      padding 10px 0
      color rgb(30, 30, 40)
      background transparent
      border-bottom 2px solid rgb(30, 30, 40)
    .submit
      background rgb(30, 30, 40)
      text-transform uppercase
      letter-spacing 0.2em
      font-weight bold
      margin-top 20px
      outline none
      border none
      padding 20px
      color white
      width 100%
