.ingredients-container 
  margin 20px 0
.ingredient-container
  width calc(100% - 45px)
  display inline-block
.add-ingredient 
  background rgb(50, 100, 200)
  color white
  text-align center
  padding 15px
  cursor pointer 
  text-transform uppercase 
  letter-spacing 0.1em
  font-size 0.8em
  font-weight bold
  i 
    padding-right 10px
.delete-ingredient
  width 30px
  height 30px
  line-height 30px
  margin-right 15px
  display inline-block
  background rgb(50, 100, 200)
  color white
  text-align center
  opacity 0.5
  cursor pointer
  transition all 150ms ease-out
  &:hover
    opacity 1
    transition all 150ms ease-out
