.file-uploader-container
  margin 10px 0
  display block
  input
    margin-bottom 0
    display none
  img
    width auto
    height auto
    max-width 250px
    max-height 150px
    transform translate(-50%, -50%)
  .file
    position relative
    width 250px
    height 150px
    display inline-block
    .add-image
      width 250px
      height 150px
      text-align center
      display block
      position relative
      background #eee
      cursor pointer
      span
        text-transform uppercase
        letter-spacing 0.05em
        position absolute
        top 50%
        left 50%
        transform translate(-50%, -50%)

  .file-info
    width calc(100% - 250px)
    padding 20px
    float right
    position relative
    height 150px
    .vertical-center
      width 90%
    .progress
      display inline-block
      margin-top 5px
      color #999
    .info-header
      margin-bottom 25px
    .title
      font-size 1.3em
      display inline-block
      padding-bottom 8px
    .file-size
      display inline-block
      color #999
      font-weight bold
      font-size 10px
      padding-left 20px
    .upload-time
      display block
      text-transform uppercase
      color #999
      font-weight bold
      font-size 9px
      .icon
        color green
        padding-right 10px
    .delete-image
      padding-top 10px
      text-transform uppercase
      font-size 10px
      font-weight bold
      cursor pointer
      color #999
      i
        padding-right 5px
      &:hover
        color rgb(150, 50, 50)

.progress-bar
  position relative
  width 100%
  height 3px
  background #ddd
  border-radius 20px
  overflow hidden
  .progress-bar-inner
    transform-origin 0 0
    position absolute
    background blue
    width 100%
    height 100%
    left 0
    top 0
    transform scaleX(0)
