.delete-modal 
	position fixed 
	top 0
	left 0
	width 100%
	height 100%
	z-index 10
	color #222
	background rgba(0, 0, 0, 0.85)
	.info-box
		width 80%
		max-width 500px
		position absolute 
		top 50%
		left 50%
		background white
		transform translate(-50%, -50%)
		box-shadow 0px 0px 40px rgba(0, 0, 0, 0.6)
		h2 
			padding 40px