.dashboard-container
  padding 10px
.card
  padding-bottom 20%
  position relative
  width 33.3%
  margin 10px
  height 0
  float left
  text-align center
  cursor pointer
  background rgb(50, 80, 150)
  transition background 150ms ease-in-out
  &:hover
    background rgb(20, 50, 120)
    transition background 150ms ease-in-out
    .label .right-icon
      transform translateX(5px)
      transition transform 150ms ease-in-out
  .inner
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
  .count, .label
    padding 0
    margin 0
    display block
    color white
  .count
    font-size 7vw
  .label
    text-transform uppercase
    letter-spacing 0.1em
    font-size 1vw
    font-weight bold
    .right-icon
      position relative
      transform translateX(0)
      transition transform 150ms ease-in-out
