.item-list
  position relative
  list-style none
  margin 0
  padding 0
  .single-item
    position relative
    width 100%
    cursor pointer
    background white
    transition background 200ms ease-out
    &:nth-of-type(even)
      background #f9f9f9
      transition background 200ms ease-out
    &:hover
      background #eee
      transition color 200ms ease-out
    .inner
      position relative
      padding 0 10px
      width auto
      clear both
      // display flex
      // flex-direction row
      // align-items stretch
      // justify-content flex-start
    a
      text-decoration none
      color #333
      transition color 200ms ease-out
    .label
      display inline-block
      padding 20px 10px
      color #666
      &.title
        color #111
    .theme, .application
      font-size 0.8em
      padding 0 5px
    .actions
      display inline-block
      padding 20px
      text-align right
      float right
      flex 1
      .edit
        color rgb(50, 100, 200)
      .delete
        color rgb(200, 50, 50)
        padding-left 20px
    .fifth
      width calc(100% / 5)
      display inline-block
      // flex 1.5
    .fourth
      width calc(100% / 4)
      display inline-block
      // flex 2
    .third
      width calc(100% / 3)
      display inline-block
      // flex 2
    .half
      width calc(100% / 2)
      display inline-block
      // flex 2
