.main-nav
  position fixed
  min-height 100vh
  width 300px
  color #eee
  background-color rgb(30, 30, 40)
  overflow-y scroll
  h1
    text-align center
    text-transform uppercase
    letter-spacing 0.2em
    font-size 1.2em
    padding 20px
    background rgba(0, 0, 0, 0.4)
  .logout
    color white
    display inline-block
    padding 8px 20px
    text-transform uppercase
    font-weight 600
    font-size 0.8em
    letter-spacing 0.2em
    border 1px solid white
    position absolute
    bottom 30px
    left 50%
    cursor pointer
    transform translateX(-50%)
    &:hover
      background white
      color rgb(30, 30, 40)
  ul
    list-style none
    padding 0
    margin 20px 0
    a
      text-decoration none
      color inherit
      font-size 1em
      text-transform uppercase
      letter-spacing 0.2em
      transition color 200ms ease-out
    .add-icon
      position relative
      float right
      border 1px solid white
      border-radius 100%
      width 20px
      height 20px
      font-size 10px
      color rgba(255, 255, 255, 0.6)
      border-color rgba(255, 255, 255, 0.6)
      transition color 200ms ease-out
      .plus
        width auto
        padding-left 2px
        padding-top 2px
      &:hover
        color rgba(255, 255, 255, 1)
        border-color rgba(255, 255, 255, 1)
        transition color 200ms ease-out

    li
      padding 10px 20px
      color rgba(255, 255, 255, 0.6)
      &:hover
        color rgba(255, 255, 255, 0.8)
        transition color 200ms ease-out
      &.active
        color rgba(255, 255, 255, 1)
